 body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8) ),  url(https://th.bing.com/th/id/OIP.A5bwcjYoLrtIuyDZBT8LkwHaDt?w=347&h=174&c=7&r=0&o=5&pid=1.7);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
 }
 #main {
    border: px solid rgb(184, 170, 170);
    width: 419px;
    height: 460px;
    align-items: center;
    text-align: center;
 }
 input {
    color: rgb(206, 194, 194);
    border: 1px solid rgb(238 238 238);
    background-color: rgb(238 238 238);
    width: 390px; 
    height: 40px; 
    font-size: 16px;
    border-radius: 6px;
 }
 #krejta {
    display: flex;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.87); 
box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.87);
border-radius: 5px;
 }